body {
  margin: 0;
}

h1 {
  /* Cancel the default <h1> decoration */
  margin: 0;
  font-size: unset;
  font-weight: unset;

  width: 100svw;
  height: 100svh;

  display: grid;
  align-content: center;
  justify-content: center;

  font-size: 3.5rem;
  line-height: 1;
  font-weight: 700;

  text-align: center;

  background: linear-gradient(45deg, #54d0ff, #9f92ff 20%, #ff7689 90%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  /* Cancel the default <h1> decoration */
  margin: 0;
  font-size: unset;
  font-weight: unset;

  font-size: 2rem;
  font-weight: 700;

  margin-bottom: 20px;
}

p {
  font-weight: 700;
  color: rgb(119, 119, 119);
}
